@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 800;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}
